<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{{url_for('static', filename='css/dojo.css')}}">

    <title>Dojo Survey</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <div>
        <form action="/results" method="post">
            <p>Your Name:</p> <input type="text" name="name" id="name">
            <p>Dojo Location:</p><input type="text" name="location" id="dojo">
            <p>Favorite Language:</p><input type="text" name="lang" id="lang">
            <P>Comments (optional)</P><textarea name="comments" id="comm" cols="58" rows="10"></textarea>
            <input type="submit" value="Submit" id="sub">

        </form>
    </div>
    
</body>
</html>