<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="bar">
        <h2>Belt Dashboard</h2>
        <p><a href="/wall">The Wall</a> | <a href="/profile">Profile</a> | <a href="/logout">Sign Out</a></p>
    </div>
    <h2>Add User</h2>
    <div class="add">
        <h3>Register:</h3>
        <form action="/record" method="post">
             {% csrf_token %}
            <p>Email:</p>
            <input type="text" name="email" placeholder="Email">
            <p>First Name:</p>
            <input type="text" name="fname" placeholder="First Name">
            <p>Last Name:</p>
            <input type="text" name="lname" placeholder="Last Name">
            <p>Password:</p>
            <input type="text" name="password" placeholder="Password">
            <p>Password Confirmation:</p>
            <input type="text" name="cpassword" placeholder="Password Confirmation"><br>
            <input type="submit" value="Register" class="submit">
        </form>
    </div>
</body>
</html>