<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'belt/dash_style.css' %}" type="text/css">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome {{user.first_name}} {{user.last_name}}</h1>
    <div class="everyone">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created On</th>
                    <th>User Level</th>
                </tr>
            </thead>
            <tbody>
                {% for x in everyone %}
                <tr>
                    <td>{{x.id}}</td>
                    <td>{{x.last_name}}, {{x.first_name}}</td>
                    <td>{{ x.email }}</td>
                    <td>{{ x.created_at }}</td>
                    <td>{{ x.user_level}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
</body>
</html>