<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'amadon/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Amadon Hot Gear</h1>
    <h3>The greatest store on earth</h3>
    <table class="blueTable">
        <thead>
            <tr>
                <th>Items</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <form action="sales" method="post">
            {% csrf_token %}
        <tbody>
            {% for item in items%}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td><select name='quantity'>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <input type='hidden' name='product_id' value='{{item.id}}' />
                    <input type='submit' value='Buy!' /></td>                
            </tr>
            {% endfor %}
            
        </tbody>
        </form>
        </table>
</body>
</html>