div{
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px 0px 30%;
    width: 500px;
    height: 400px;
    color: white;
    background-color: rgb(6, 6, 117)
}
h1{
    display: inline-block;
    vertical-align: top;
    width: 253px;
    margin-left: 123px;
}
form{
    display: inline-block;
    vertical-align: top;
    margin-left: 130px;
}
.submit{
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    margin-top: 10px;
}
h3{
    vertical-align: top;
    margin-left: 20%;
}
a{
    color: red;
    margin-left: 200px;
}