<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        fieldset{
            display: inline-block;
            vertical-align: top;
            margin: 20px;
        }
        form{
            display: inline-block;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <fieldset>
        <h2>Login:</h2>
        <form action="login/" method="post">
            {% csrf_token %}
            <input type="text" name="email" placeholder="Email"><br>
            <input type="text" name="password" placeholder="Password"><br>
            <input type="text" name="confirm_pw" placeholder="Confirm Password"><br>
            <input type="submit" value="Login">
        </form>
    </fieldset>
    <fieldset>
        <h2>Registure:</h2>
        <form action="registration/" method="post">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="First Name"><br>
            <input type="text" name="last_name" placeholder="Last Name"><br>
            <input type="text" name="email" placeholder="Email"><br>
            <input type="text" name="password" placeholder="Password"><br>
            <br>
            <input type="submit" value="Registure">
        </form>
    </fieldset>
</body>
</html>