<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
    <h1>User {{ids}}</h1>
    <table>
        {% for user users %}
        <tbody>
            <tr>
                <td>Full Name:</td>
                <td>{{user['first_name']}} {{user['last_name']}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{user['email']}}</td>
            </tr>
            <tr>
                <td>Created at:</td>
                <td>{{user['created_at']}}</td>
            </tr>
        </tbody>
        
    </table>
        <a href="/user/{{user['id']}}/edit">Edit</a> <a href="/user/{{user['id']}}/destroy">Delete</a>
        {% endfor %}
         
        
</body>
</html>