<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Ray's Wall</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="index">
        <h1>Ray's Wall</h1>
        <fieldset>Login
            <form action="/login" method="post">
                <input type="text" name="user_name" placeholder="Email"><br>
                <input type="text" name="password" placeholder="Password"><br>
                <input type="submit" value="Login" class="login">
            </form>
        </fieldset>
        <fieldset>Registration
            <form action="/registration" method="post">
                <input type="text" name="user_name" placeholder="Email"><br>
                <input type="text" name="password" placeholder="Password"><br>
                <input type="text" name="name" placeholder="Name"><br>
                <input type="submit" value="Submit" class="reg">
            </form>
        </fieldset>
    </div>
</body>
</html>