<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Session Word</h1>
    <form action="create" method="post">
        {% csrf_token %}
        Word: <input name="name" type="text" /> <br />
        <input checked="checked" name="color" type="radio" value="red" />Red <input name="color" type="radio" value="green" /> Green<input name="color" type="radio" value="blue" /> Blue<br />
        <input type="submit" value="Submit" />
    </form><hr>
    <p style="color: {{request.session.color}}">{{request.session.name}}</p>

</body>
</html>